.vscode
build
global-illumination_build_qt
pbrt_optical_build_qt
pbrt_optical_build_qt2
pbrt_optical_build
/global-illumination_build/Release/UE5.exe
/libsrc/build
/Pbrt/RHI/build
/resource
/Pbrt/RHI/doc
RenderV3_build_old
RenderV2_build
RenderV3_build
/global-illumination_build/.qt/QtDeploySupport-Debug.cmake
/global-illumination_build/.qt/QtDeploySupport-MinSizeRel.cmake
/global-illumination_build/.qt/QtDeploySupport-Release.cmake
/global-illumination_build/.qt/QtDeploySupport-RelWithDebInfo.cmake
/global-illumination_build/.vs/UE5/FileContentIndex/0bf8de26-eb42-4e2b-819a-efa079092129.vsidx
/global-illumination_build/.vs/UE5/FileContentIndex/2d66d44d-5352-4923-8332-0ec22c7e277f.vsidx
/global-illumination_build/.vs/UE5/FileContentIndex/read.lock
/global-illumination_build/.vs/UE5/v17/.suo
/global-illumination_build/.vs/UE5/v17/Browse.VC.db
/global-illumination_build/.vs/UE5/v17/fileList.bin
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/23b828be330a4f5/VULKANCOMMANDBUFFER.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/3fbe9b722d84cbe/VULKANRHI.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/43dcacb8a7c08402/MAIN.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/7bea6c1b98181e09/RHITEXTURERENDERER.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/9b110f5f6b06e7a/RHITRIANGLERENDERER.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/b3039f819d263836/PLANE.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/b360ae0666541da2/RHITEXTURE3DRENDERER.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/b99049e1532378c3/RHICOMPUTERENDERER.ipch
/global-illumination_build/.vs/UE5/v17/ipch/AutoPCH/ed3eb3497bc74d3/VULKANSHADERBINDINGS.ipch
/global-illumination_build/.vs/UE5/v17/Solution.VC.db
/global-illumination_build/ALL_BUILD.vcxproj
/global-illumination_build/ALL_BUILD.vcxproj.filters
/global-illumination_build/ALL_BUILD.vcxproj.user
/global-illumination_build/asset/shaders/computeshader/edgedetect.comp.spv
/global-illumination_build/asset/shaders/computeshader/emboss.comp.spv
/global-illumination_build/asset/shaders/computeshader/sharpen.comp.spv
/global-illumination_build/asset/shaders/computeshader/texture.frag.spv
/global-illumination_build/asset/shaders/computeshader/texture.vert.spv
/global-illumination_build/asset/shaders/glsl/computershader/edgedetect.comp
/global-illumination_build/asset/shaders/glsl/computershader/emboss.comp
/global-illumination_build/asset/shaders/glsl/computershader/sharpen.comp
/global-illumination_build/asset/shaders/glsl/computershader/texture.frag
/global-illumination_build/asset/shaders/glsl/computershader/texture.vert
/global-illumination_build/asset/shaders/glsl/raytracing.comp
/global-illumination_build/asset/shaders/glsl/raytracing.frag
/global-illumination_build/asset/shaders/glsl/raytracing.vert
/global-illumination_build/asset/shaders/glsl/texture2d.frag
/global-illumination_build/asset/shaders/glsl/texture2d.vert
/global-illumination_build/asset/shaders/glsl/texture2darray.frag
/global-illumination_build/asset/shaders/glsl/texture2darray.vert
/global-illumination_build/asset/shaders/glsl/texture3d.frag
/global-illumination_build/asset/shaders/glsl/texture3d.vert
/global-illumination_build/asset/shaders/glsl/texturecube.frag
/global-illumination_build/asset/shaders/glsl/texturecube.vert
/global-illumination_build/asset/shaders/raytracing_cs.spv
/global-illumination_build/asset/shaders/raytracing_fs.spv
/global-illumination_build/asset/shaders/raytracing_vs.spv
/global-illumination_build/asset/shaders/raytracing/raytracing_rgs.spv
/global-illumination_build/asset/shaders/raytracing/raytracing_rhs.spv
/global-illumination_build/asset/shaders/raytracing/raytracing_rms.spv
/global-illumination_build/asset/shaders/texture2d_frag.spv
/global-illumination_build/asset/shaders/texture2d_fs.spv
/global-illumination_build/asset/shaders/texture2d_vert.spv
/global-illumination_build/asset/shaders/texture2d_vs.spv
/global-illumination_build/asset/shaders/texture2darray_fs.spv
/global-illumination_build/asset/shaders/texture2darray_vs.spv
/global-illumination_build/asset/shaders/texture3d_fs.spv
/global-illumination_build/asset/shaders/texture3d_vs.spv
/global-illumination_build/asset/shaders/texturecube_fs.spv
/global-illumination_build/asset/shaders/texturecube_vs.spv
/global-illumination_build/asset/textures/1.png
/global-illumination_build/asset/textures/skybox/back.jpg
/global-illumination_build/asset/textures/skybox/bottom.jpg
/global-illumination_build/asset/textures/skybox/front.jpg
/global-illumination_build/asset/textures/skybox/left.jpg
/global-illumination_build/asset/textures/skybox/negx.jpg
/global-illumination_build/asset/textures/skybox/negy.jpg
/global-illumination_build/asset/textures/skybox/negz.jpg
/global-illumination_build/asset/textures/skybox/posx.jpg
/global-illumination_build/asset/textures/skybox/posy.jpg
/global-illumination_build/asset/textures/skybox/posz.jpg
/global-illumination_build/asset/textures/skybox/right.jpg
/global-illumination_build/asset/textures/skybox/top.jpg
/global-illumination_build/asset/textures/texture.jpg
/global-illumination_build/cmake_install.cmake
/global-illumination_build/CMakeCache.txt
/global-illumination_build/CMakeFiles/3.30.3/CMakeCCompiler.cmake
/global-illumination_build/CMakeFiles/3.30.3/CMakeCXXCompiler.cmake
/global-illumination_build/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_C.bin
/global-illumination_build/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_CXX.bin
/global-illumination_build/CMakeFiles/3.30.3/CMakeRCCompiler.cmake
/global-illumination_build/CMakeFiles/3.30.3/CMakeSystem.cmake
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/CMakeCCompilerId.c
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.exe
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.vcxproj
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CMakeCCompilerId.obj
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.exe
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.vcxproj
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/global-illumination_build/CMakeFiles/3.30.3/VCTargetsPath.txt
/global-illumination_build/CMakeFiles/3.30.3/VCTargetsPath.vcxproj
/global-illumination_build/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.recipe
/global-illumination_build/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/global-illumination_build/CMakeFiles/bafddb0bdebf5965ffe9e91fb118ea76/generate.stamp.rule
/global-illumination_build/CMakeFiles/cmake.check_cache
/global-illumination_build/CMakeFiles/CMakeConfigureLog.yaml
/global-illumination_build/CMakeFiles/generate.stamp.depend
/global-illumination_build/CMakeFiles/generate.stamp.list
/global-illumination_build/CMakeFiles/TargetDirectories.txt
/global-illumination_build/CMakeFiles/UE5_autogen.dir/AutogenInfo.json
/global-illumination_build/CMakeFiles/UE5_autogen.dir/AutogenUsed_Debug.txt
/global-illumination_build/CMakeFiles/UE5_autogen.dir/AutogenUsed_Release.txt
/global-illumination_build/CMakeFiles/UE5_autogen.dir/ParseCache_Debug.txt
/global-illumination_build/CMakeFiles/UE5_autogen.dir/ParseCache_Release.txt
/global-illumination_build/Debug/UE5.exe
/global-illumination_build/Debug/UE5.pdb
/global-illumination_build/Release/asset/shaders/raytracing_cs.spv
/global-illumination_build/Release/asset/shaders/raytracing_fs.spv
/global-illumination_build/Release/asset/shaders/raytracing_vs.spv
/global-illumination_build/Release/asset/shaders/texture2d_frag.spv
/global-illumination_build/Release/asset/shaders/texture2d_fs.spv
/global-illumination_build/Release/asset/shaders/texture2d_vert.spv
/global-illumination_build/Release/asset/shaders/texture2d_vs.spv
/global-illumination_build/Release/asset/shaders/texture2darray_fs.spv
/global-illumination_build/Release/asset/shaders/texture2darray_vs.spv
/global-illumination_build/Release/asset/shaders/texture3d_fs.spv
/global-illumination_build/Release/asset/shaders/texture3d_vs.spv
/global-illumination_build/Release/asset/shaders/texturecube_fs.spv
/global-illumination_build/Release/asset/shaders/texturecube_vs.spv
/global-illumination_build/Release/asset/textures/1.png
/global-illumination_build/Release/asset/textures/skybox/back.jpg
/global-illumination_build/Release/asset/textures/skybox/bottom.jpg
/global-illumination_build/Release/asset/textures/skybox/front.jpg
/global-illumination_build/Release/asset/textures/skybox/left.jpg
/global-illumination_build/Release/asset/textures/skybox/negx.jpg
/global-illumination_build/Release/asset/textures/skybox/negy.jpg
/global-illumination_build/Release/asset/textures/skybox/negz.jpg
/global-illumination_build/Release/asset/textures/skybox/posx.jpg
/global-illumination_build/Release/asset/textures/skybox/posy.jpg
/global-illumination_build/Release/asset/textures/skybox/posz.jpg
/global-illumination_build/Release/asset/textures/skybox/right.jpg
/global-illumination_build/Release/asset/textures/skybox/top.jpg
/global-illumination_build/Release/asset/textures/texture.jpg
/global-illumination_build/Release/D3Dcompiler_47.dll
/global-illumination_build/Release/generic/qtuiotouchplugin.dll
/global-illumination_build/Release/Half-2_5.dll
/global-illumination_build/Release/Half-2_5.lib
/global-illumination_build/Release/iconengines/qsvgicon.dll
/global-illumination_build/Release/Iex-2_5.dll
/global-illumination_build/Release/Iex-2_5.lib
/global-illumination_build/Release/Iex-3_2.dll
/global-illumination_build/Release/IexMath-2_5.dll
/global-illumination_build/Release/IexMath-2_5.lib
/global-illumination_build/Release/IlmImf-2_5.lib
/global-illumination_build/Release/IlmThread-2_5.dll
/global-illumination_build/Release/IlmThread-2_5.lib
/global-illumination_build/Release/imageformats/qgif.dll
/global-illumination_build/Release/imageformats/qicns.dll
/global-illumination_build/Release/imageformats/qico.dll
/global-illumination_build/Release/imageformats/qjpeg.dll
/global-illumination_build/Release/imageformats/qpdf.dll
/global-illumination_build/Release/imageformats/qsvg.dll
/global-illumination_build/Release/imageformats/qtga.dll
/global-illumination_build/Release/imageformats/qtiff.dll
/global-illumination_build/Release/imageformats/qwbmp.dll
/global-illumination_build/Release/imageformats/qwebp.dll
/global-illumination_build/Release/Imath-2_5.lib
/global-illumination_build/Release/networkinformation/qnetworklistmanager.dll
/global-illumination_build/Release/opengl32sw.dll
/global-illumination_build/Release/platforms/qwindows.dll
/global-illumination_build/Release/Qt6Core.dll
/global-illumination_build/Release/Qt6Gui.dll
/global-illumination_build/Release/Qt6Network.dll
/global-illumination_build/Release/Qt6OpenGL.dll
/global-illumination_build/Release/Qt6OpenGLWidgets.dll
/global-illumination_build/Release/Qt6Pdf.dll
/global-illumination_build/Release/Qt6Svg.dll
/global-illumination_build/Release/Qt6Widgets.dll
/global-illumination_build/Release/styles/qwindowsvistastyle.dll
/global-illumination_build/Release/tls/qcertonlybackend.dll
/global-illumination_build/Release/tls/qopensslbackend.dll
/global-illumination_build/Release/tls/qschannelbackend.dll
/global-illumination_build/Release/translations/qt_ar.qm
/global-illumination_build/Release/translations/qt_bg.qm
/global-illumination_build/Release/translations/qt_ca.qm
/global-illumination_build/Release/translations/qt_cs.qm
/global-illumination_build/Release/translations/qt_da.qm
/global-illumination_build/Release/translations/qt_de.qm
/global-illumination_build/Release/translations/qt_en.qm
/global-illumination_build/Release/translations/qt_es.qm
/global-illumination_build/Release/translations/qt_fa.qm
/global-illumination_build/Release/translations/qt_fi.qm
/global-illumination_build/Release/translations/qt_fr.qm
/global-illumination_build/Release/translations/qt_gd.qm
/global-illumination_build/Release/translations/qt_he.qm
/global-illumination_build/Release/translations/qt_hr.qm
/global-illumination_build/Release/translations/qt_hu.qm
/global-illumination_build/Release/translations/qt_it.qm
/global-illumination_build/Release/translations/qt_ja.qm
/global-illumination_build/Release/translations/qt_ko.qm
/global-illumination_build/Release/translations/qt_lv.qm
/global-illumination_build/Release/translations/qt_nl.qm
/global-illumination_build/Release/translations/qt_nn.qm
/global-illumination_build/Release/translations/qt_pl.qm
/global-illumination_build/Release/translations/qt_pt_BR.qm
/global-illumination_build/Release/translations/qt_ru.qm
/global-illumination_build/Release/translations/qt_sk.qm
/global-illumination_build/Release/translations/qt_tr.qm
/global-illumination_build/Release/translations/qt_uk.qm
/global-illumination_build/Release/translations/qt_zh_CN.qm
/global-illumination_build/Release/translations/qt_zh_TW.qm
/global-illumination_build/UE5_autogen/include_Debug/SWTGXRRWGU/moc_OpenGLWidget.cpp
/global-illumination_build/UE5_autogen/include_Debug/SWTGXRRWGU/moc_OpenGLWidget.cpp.d
/global-illumination_build/UE5_autogen/include_Release/SWTGXRRWGU/moc_OpenGLWidget.cpp
/global-illumination_build/UE5_autogen/include_Release/SWTGXRRWGU/moc_OpenGLWidget.cpp.d
/global-illumination_build/UE5_autogen/mocs_compilation_Debug.cpp
/global-illumination_build/UE5_autogen/mocs_compilation_Release.cpp
/global-illumination_build/UE5.dir/Debug/15_hello_triangle.obj
/global-illumination_build/UE5.dir/Debug/BitArray.obj
/global-illumination_build/UE5.dir/Debug/BlendState.obj
/global-illumination_build/UE5.dir/Debug/BufferObjectState.obj
/global-illumination_build/UE5.dir/Debug/Camera.obj
/global-illumination_build/UE5.dir/Debug/Common.obj
/global-illumination_build/UE5.dir/Debug/DeferredShadingRenderer.obj
/global-illumination_build/UE5.dir/Debug/DepthTestState.obj
/global-illumination_build/UE5.dir/Debug/FComputeShaderUtils.obj
/global-illumination_build/UE5.dir/Debug/FDeferredShadingSceneRenderer.obj
/global-illumination_build/UE5.dir/Debug/FIntPoint.obj
/global-illumination_build/UE5.dir/Debug/FIntRect.obj
/global-illumination_build/UE5.dir/Debug/FLumenCard.obj
/global-illumination_build/UE5.dir/Debug/FLumenCardOBB.obj
/global-illumination_build/UE5.dir/Debug/FLumenCardRenderer.obj
/global-illumination_build/UE5.dir/Debug/FLumenCardTracingInputs.obj
/global-illumination_build/UE5.dir/Debug/FLumenMeshCards.obj
/global-illumination_build/UE5.dir/Debug/FLumenMipMapDesc.obj
/global-illumination_build/UE5.dir/Debug/FLumenPageTableEntry.obj
/global-illumination_build/UE5.dir/Debug/FLumenPrimitiveGroup.obj
/global-illumination_build/UE5.dir/Debug/FLumenSceneData.obj
/global-illumination_build/UE5.dir/Debug/FLumenSurfaceCacheAllocator.obj
/global-illumination_build/UE5.dir/Debug/FLumenSurfaceCacheFeedback.obj
/global-illumination_build/UE5.dir/Debug/FLumenSurfaceCacheUpdateMeshCardsTask.obj
/global-illumination_build/UE5.dir/Debug/FLumenSurfaceCacheUpdatePrimitivesTask.obj
/global-illumination_build/UE5.dir/Debug/FLumenSurfaceMipMap.obj
/global-illumination_build/UE5.dir/Debug/FLumenViewState.obj
/global-illumination_build/UE5.dir/Debug/FMeshCardsBuildData.obj
/global-illumination_build/UE5.dir/Debug/FPrimitiveSceneInfo.obj
/global-illumination_build/UE5.dir/Debug/FPrimitiveSceneProxy.obj
/global-illumination_build/UE5.dir/Debug/FramebufferControlState.obj
/global-illumination_build/UE5.dir/Debug/FramebufferObjectState.obj
/global-illumination_build/UE5.dir/Debug/FRDGBuilder.obj
/global-illumination_build/UE5.dir/Debug/FRDGEventName.obj
/global-illumination_build/UE5.dir/Debug/FRDGPooledBuffer.obj
/global-illumination_build/UE5.dir/Debug/FScene.obj
/global-illumination_build/UE5.dir/Debug/FSceneRenderer.obj
/global-illumination_build/UE5.dir/Debug/FSceneView.obj
/global-illumination_build/UE5.dir/Debug/FSceneViewFamily.obj
/global-illumination_build/UE5.dir/Debug/FSceneViewState.obj
/global-illumination_build/UE5.dir/Debug/FSceneViewStateInterface.obj
/global-illumination_build/UE5.dir/Debug/FSurfaceCacheRequest.obj
/global-illumination_build/UE5.dir/Debug/FViewInfo.obj
/global-illumination_build/UE5.dir/Debug/GenericPlatformMath.obj
/global-illumination_build/UE5.dir/Debug/glad.obj
/global-illumination_build/UE5.dir/Debug/ImplementationDependentState.obj
/global-illumination_build/UE5.dir/Debug/IPooledRenderTarget.obj
/global-illumination_build/UE5.dir/Debug/LogicOperationState.obj
/global-illumination_build/UE5.dir/Debug/LumenScene.obj
/global-illumination_build/UE5.dir/Debug/LumenSceneRendering.obj
/global-illumination_build/UE5.dir/Debug/LumenSurfaceCacheSampling.obj
/global-illumination_build/UE5.dir/Debug/LumenVoxelLighting.obj
/global-illumination_build/UE5.dir/Debug/main.obj
/global-illumination_build/UE5.dir/Debug/mocs_compilation_Debug.obj
/global-illumination_build/UE5.dir/Debug/Multisampling.obj
/global-illumination_build/UE5.dir/Debug/New CXX.obj
/global-illumination_build/UE5.dir/Debug/Noise.obj
/global-illumination_build/UE5.dir/Debug/OpenGLBuffer.obj
/global-illumination_build/UE5.dir/Debug/OpenGLDevice.obj
/global-illumination_build/UE5.dir/Debug/OpenGLRHI.obj
/global-illumination_build/UE5.dir/Debug/OpenGLRHIPrivate.obj
/global-illumination_build/UE5.dir/Debug/OpenGLRHIState.obj
/global-illumination_build/UE5.dir/Debug/OpenGLShader.obj
/global-illumination_build/UE5.dir/Debug/OpenGLTexture.obj
/global-illumination_build/UE5.dir/Debug/OpenGLTextureFormat.obj
/global-illumination_build/UE5.dir/Debug/OpenGLUniformBuffer.obj
/global-illumination_build/UE5.dir/Debug/OpenGLWidget.obj
/global-illumination_build/UE5.dir/Debug/Plane.obj
/global-illumination_build/UE5.dir/Debug/ProgramObjectState.obj
/global-illumination_build/UE5.dir/Debug/ProgramPipelineState.obj
/global-illumination_build/UE5.dir/Debug/RasterizationState.obj
/global-illumination_build/UE5.dir/Debug/RHI.obj
/global-illumination_build/UE5.dir/Debug/RHIComputeRenderer.obj
/global-illumination_build/UE5.dir/Debug/RHIInit.obj
/global-illumination_build/UE5.dir/Debug/RHIPixelFormat.obj
/global-illumination_build/UE5.dir/Debug/RHIShaderBindings.obj
/global-illumination_build/UE5.dir/Debug/RHITexture2darrayRenderer.obj
/global-illumination_build/UE5.dir/Debug/RHITexture3drenderer.obj
/global-illumination_build/UE5.dir/Debug/RHITexturecubeRenderer.obj
/global-illumination_build/UE5.dir/Debug/RHITexturerenderer.obj
/global-illumination_build/UE5.dir/Debug/RHITriangleRenderer.obj
/global-illumination_build/UE5.dir/Debug/RHIUniformBuffer.obj
/global-illumination_build/UE5.dir/Debug/RHIUniformBufferLayout.obj
/global-illumination_build/UE5.dir/Debug/Scene.obj
/global-illumination_build/UE5.dir/Debug/SceneRendering.obj
/global-illumination_build/UE5.dir/Debug/ScissorTestState.obj
/global-illumination_build/UE5.dir/Debug/Shader.obj
/global-illumination_build/UE5.dir/Debug/ShaderLoader.obj
/global-illumination_build/UE5.dir/Debug/ShaderObjectState.obj
/global-illumination_build/UE5.dir/Debug/ShaderStorageBufferBindingState.obj
/global-illumination_build/UE5.dir/Debug/Skybox.obj
/global-illumination_build/UE5.dir/Debug/stb_vorbis.obj
/global-illumination_build/UE5.dir/Debug/StencilTestState.obj
/global-illumination_build/UE5.dir/Debug/test1.obj
/global-illumination_build/UE5.dir/Debug/TestBlend.obj
/global-illumination_build/UE5.dir/Debug/TestBufferObjectState.obj
/global-illumination_build/UE5.dir/Debug/TestComputeShader.obj
/global-illumination_build/UE5.dir/Debug/TestCubeMap.obj
/global-illumination_build/UE5.dir/Debug/TestDrawInstanced.obj
/global-illumination_build/UE5.dir/Debug/TestEBO.obj
/global-illumination_build/UE5.dir/Debug/TestFBM.obj
/global-illumination_build/UE5.dir/Debug/testFLumenSceneData.obj
/global-illumination_build/UE5.dir/Debug/testFLumenSurfaceCacheAllocator.obj
/global-illumination_build/UE5.dir/Debug/TestPass.obj
/global-illumination_build/UE5.dir/Debug/TestPixelShader.obj
/global-illumination_build/UE5.dir/Debug/TestSSBO_UBO_ComputeShader_Texture2D.obj
/global-illumination_build/UE5.dir/Debug/TestSSBO.obj
/global-illumination_build/UE5.dir/Debug/TestTexture2D.obj
/global-illumination_build/UE5.dir/Debug/TestTexture2DArray.obj
/global-illumination_build/UE5.dir/Debug/TestTexture3D.obj
/global-illumination_build/UE5.dir/Debug/TestVBO.obj
/global-illumination_build/UE5.dir/Debug/testVoxelLighting.obj
/global-illumination_build/UE5.dir/Debug/TextureObjectState.obj
/global-illumination_build/UE5.dir/Debug/TextureUnitState.obj
/global-illumination_build/UE5.dir/Debug/TMatrix.obj
/global-illumination_build/UE5.dir/Debug/TransformationState.obj
/global-illumination_build/UE5.dir/Debug/TVector.obj
/global-illumination_build/UE5.dir/Debug/TVector4.obj
/global-illumination_build/UE5.dir/Debug/UE5.exe.recipe
/global-illumination_build/UE5.dir/Debug/UE5.ilk
/global-illumination_build/UE5.dir/Debug/UE5.log
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CL.command.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/Cl.items.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CL.read.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CL.write.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CustomBuild.command.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CustomBuild.read.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/CustomBuild.write.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/link.command.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/link.read.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/link.write.1.tlog
/global-illumination_build/UE5.dir/Debug/UE5.tlog/UE5.lastbuildstate
/global-illumination_build/UE5.dir/Debug/UniformBufferBindingState.obj
/global-illumination_build/UE5.dir/Debug/vc143.pdb
/global-illumination_build/UE5.dir/Debug/VertexArrayObjectState.obj
/global-illumination_build/UE5.dir/Debug/VulkanBuffer.obj
/global-illumination_build/UE5.dir/Debug/VulkanCommandBuffer.obj
/global-illumination_build/UE5.dir/Debug/VulkanCommandBufferPool.obj
/global-illumination_build/UE5.dir/Debug/VulkanCommandPool.obj
/global-illumination_build/UE5.dir/Debug/VulkanCommon.obj
/global-illumination_build/UE5.dir/Debug/VulkanDescriptorPool.obj
/global-illumination_build/UE5.dir/Debug/VulkanDescriptorSet.obj
/global-illumination_build/UE5.dir/Debug/VulkanDescriptorSetLayout.obj
/global-illumination_build/UE5.dir/Debug/VulkanDevice.obj
/global-illumination_build/UE5.dir/Debug/VulkanDeviceMemory.obj
/global-illumination_build/UE5.dir/Debug/VulkanFence.obj
/global-illumination_build/UE5.dir/Debug/VulkanFenceManager.obj
/global-illumination_build/UE5.dir/Debug/VulkanFrameBuffer.obj
/global-illumination_build/UE5.dir/Debug/VulkanGenericPlatform.obj
/global-illumination_build/UE5.dir/Debug/VulkanGLFW.obj
/global-illumination_build/UE5.dir/Debug/VulkanGraphicsPipelineState.obj
/global-illumination_build/UE5.dir/Debug/VulkanInstance.obj
/global-illumination_build/UE5.dir/Debug/VulkanLinuxPlatform.obj
/global-illumination_build/UE5.dir/Debug/VulkanMemory.obj
/global-illumination_build/UE5.dir/Debug/VulkanPhysicalDevice.obj
/global-illumination_build/UE5.dir/Debug/VulkanPipeline.obj
/global-illumination_build/UE5.dir/Debug/VulkanPipelineCache.obj
/global-illumination_build/UE5.dir/Debug/VulkanPipelineLayout.obj
/global-illumination_build/UE5.dir/Debug/VulkanQueue.obj
/global-illumination_build/UE5.dir/Debug/VulkanRenderPass.obj
/global-illumination_build/UE5.dir/Debug/VulkanRHI.obj
/global-illumination_build/UE5.dir/Debug/VulkanRHIPrivate.obj
/global-illumination_build/UE5.dir/Debug/VulkanRHIState.obj
/global-illumination_build/UE5.dir/Debug/VulkanSampler.obj
/global-illumination_build/UE5.dir/Debug/VulkanScissorState.obj
/global-illumination_build/UE5.dir/Debug/VulkanSemaphore.obj
/global-illumination_build/UE5.dir/Debug/VulkanShader.obj
/global-illumination_build/UE5.dir/Debug/VulkanShaderBindings.obj
/global-illumination_build/UE5.dir/Debug/VulkanSurface.obj
/global-illumination_build/UE5.dir/Debug/VulkanSwapChain.obj
/global-illumination_build/UE5.dir/Debug/VulkanTexture.obj
/global-illumination_build/UE5.dir/Debug/VulkanWindow.obj
/global-illumination_build/UE5.dir/Debug/VulkanWindowsPlatform.obj
/global-illumination_build/UE5.dir/Release/UE5.Build.CppClean.log
/global-illumination_build/UE5.dir/Release/UE5.exe.recipe
/global-illumination_build/UE5.dir/Release/UE5.log
/global-illumination_build/UE5.dir/Release/UE5.tlog/UE5.lastbuildstate
/global-illumination_build/UE5.dir/Release/UE5.tlog/unsuccessfulbuild
/global-illumination_build/UE5.dir/Release/UE5.vcxproj.FileListAbsolute.txt
/global-illumination_build/UE5.sln
/global-illumination_build/UE5.vcxproj
/global-illumination_build/UE5.vcxproj.filters
/global-illumination_build/UE5.vcxproj.user
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/global-illumination_build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/unsuccessfulbuild
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/global-illumination_build/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/global-illumination_build/ZERO_CHECK.vcxproj
/global-illumination_build/ZERO_CHECK.vcxproj.filters
